<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<add key="Biz_Name" value="IDOCNET.Demo.Lab.STD.TESTLOCAL"/>
		<add key="Biz_SpecialPw" value="0123456"/>
		<add key="Biz_LogPw" value="123000"/>
		<add key="Biz_DBConnStr" value="Data Source=192.168.1.228\SQLSV2019;User ID=idocNetSV19;Password=0123654;Initial Catalog=idocNet.DVN.AUD.STD.Test.Thang;"/>
		<!--<add key="Biz_DBConnStr" value="Data Source=DUNGND;User ID=dungnd;Password=1234;Initial Catalog=dianastd20140428;"/>-->
		<add key="Biz_ServiceCodeList" value="|DESKTOPAPP||WEBAPP||MOBILEAPP|"/>
		<add key="Biz_GwUserCode" value="idocNet.Demo.Lab.STD.Sv"/>
		<add key="Biz_GwPassword" value="idocNet.Demo.Lab.STD.Sv"/>
		<add key="Biz_LicenseCode" value="TFRss6zWc8wsJVm2U+ZAcw=="/>
		<add key="Biz_TimeoutMS" value="12000000"/>

		<add key="TLog_ConnStr" value="Data Source=192.168.1.228\SQLSV2019;User ID=idocNetSV19;Password=0123654;Initial Catalog=idocNet.DVN.AUD.STD.Test.Thang.TLog;"/>
		<add key="TLog_AccountList" value="|SYSADMIN/123000||IDOCNET.Demo.Lab.STD.TESTLOCAL/123000|"/>
		<add key="TLog_DelayForLazyMS" value="20"/>

	</appSettings>

	<connectionStrings/>
	<system.web>
		<!-- maxRequestLength (Default = 4096(KBytes)), executionTimeout (seconds) -->
		<httpRuntime maxRequestLength="120000" executionTimeout="3600"/>
		
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
